fieldset {
    font-family: 'Raleway', sans-serif;
    margin: 20px;
    padding: 20px;
}

legend {
    font-family: 'Raleway', sans-serif;
    color: whitesmoke;
    margin: 20px;
    padding: 20px;
}

label {
    font-family: 'Raleway', sans-serif;
    color: rgb(209, 111, 72);
    margin: 20px;
    padding: 20px;
}
