@mixin marpad($margin, $padding) {
    margin: $margin;
    padding: $padding;
}

h2 {
    @include marpad(20px, 20px);
    font-size: 1.875rem;
    font-family: 'Cinzel', serif;
    color: whitesmoke;
    padding-top: 0px;
    padding-bottom: 0px;
    overflow-y: hidden
}

h3 {
    @extend h2 ;
    font-size: 1,5625rem;
}

p {
    color: whitesmoke;
    text-align: justify;
@include marpad(20px, 20px);
}