h2 {
    font-size: 1.875rem;
    font-family: 'Cinzel', serif;
    color: whitesmoke;
    margin: 20px;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

h3 {
    font-size: 1,5625rem;
    font-family:  'Cinzel', serif;
    color: whitesmoke;
    margin: 20px;
    padding: 20px;
}

p {
    color: whitesmoke;
    text-align: justify;
    margin: 20px;
    padding: 20px;
}