@media screen and (max-width:1023px) {

    .header { 
        width: 100vw;
        top: auto;

        nav ul {
            padding-right: 20px;
            padding-left: 20px;
    
        li {
            font-size: medium;
            margin-right: 0px;
            align-content: space-around;
        }
     }

    .logo {
        margin-left: 20px;
        margin-right: 20px;
        flex-shrink: 0;
    }
     
    }

    .video {
        width: 100%;
        height: 100%;
    }

    .publicacionesInstagram {
    width: 60%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
}

@media screen and (max-width:808px) {

    * {
        margin-right: 0px;
        padding-right: 0px;
        overflow-x: hidden;
    }

.header { 
            width: 100vw;
            top: auto;

            nav ul {
                padding-right: 0px;
                margin-right: 0px;

                li {
                    font-size: x-small;
                }
            }
        } 
        
        .logo {
            margin-right: 25px;
        }
    
.video {
    width: 100%;
    height: 100%;
        }

.publicacionesInstagram {
        width: 60%;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        margin: 0px;
        padding: 0px;
        }
   
        footer {
            height: 150px;
            flex-flow: nowrap;
            font-size: x-small;
            padding: 10%;
            
        }

}

@media screen and (max-width:479px) {

    * {
        margin-right: 0px;
        padding-right: 0px;
        overflow-x: hidden;
    }
    
    .video {
                width: 100%;
                height: 100%;
            }

    .header { 
                width: 100vw;
                top: auto;

                nav ul li {
                    font-size:xx-small;
            }
        
    .logo {
        margin-right: 20px;
    }

    .publicacionesInstagram {
        width: 40%;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: space-evenly;
        margin: 0px;
        padding: 0px;
        }

    .grid {
        display: flex;
        flex-flow: row wrap;
    }        

    footer {
        font-size: xx-small;
        padding: 10px;
    }
}
}

}
