.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    align-items: center;
}

.video {
    margin: 20px;
    padding-left: 25%;
}

.loUltimo,  .publicacionesInstagram, .productos, .promociones {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-top: 20px;
    flex-shrink: 1;
    margin: 20px;
    padding: 20px;
}

.publicacionesInstagram {
    width: 95%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
}

.cadenaFriends, .pulsera1, .holder1, .holderMulticolor, .holderNegro, .holderOjo, .pulseraAvion, .pulseraOjo, .pulserasVarias, .cadenaCorona, .cadenaEstrella, .cadenaMano, .chokerLuna, .chokerMulticolor, .holder2 {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    align-self: baseline;
}
